
.center-item
{
    display: flex;
    justify-content: center;
}

.card
{
    height: 10rem;
}
.card-title
{
    text-align: left;
    margin: 1em;
}
/* Changes color around algorithm buttons when clicked */
.click-border
{
    background-color: #b2d3ebd7;
    border-radius: 5%;
    box-shadow: 0.5px 0.5px 0.25px rgb(141, 151, 158);
}
/* Graph is the container that holds the bar graph */
#graph 
{
    height: 68%;
}

h2
{
    display:flex;
    justify-content: center;
    font-size: large;
}

main 
{
    height: 85vh;
}

nav .navbar .bg-light border
{
    background-color: #e3f2fd;
}

nav .nav-link
{
    color: blue;
}

.nav-link
{
    color: blue
}

/* Responsive navbar for phone screens */
/* When the screen is smaller than 800px */
@media (max-width: 800px)
{
    .nav-item
    {
        display: flex;
        justify-content: center;
        margin-bottom: auto;
    }
    /* Hide infobar on phone screens and center buttons */
    .card
    {
        display: none;
    }
    .infoContainer
    {
        display: none;
    }
    /* Hide slider on phones, since it will take up too much space and complicate the UI */
    .slidecontainer
    {
        display: none;
    }
   
}
@media (max-width: 950px)
{
    .card
    {
        height: auto;
    }
    .startbuttons
    {
        display: none;
    }
    .numdiv, .numdivshort
    {
        display:none;
    }
}

/* When the screen is bigger than 950px */
@media (min-width: 950px)
{
    .mobilebuttons
    {
        display: none;
    }
}

.numdiv 
{
    text-align: center;
    color: white;
    margin-top: 10px;
    font-size: small;
}

.numdivshort
{
    text-align: center;
    color: black;
    margin-top: -20px;
    font-size: small;
}

.speed
{
    width: 10%;
}

.vertbar 
{
    width: 10%;
    height: 100%;
    background-color: black;
    margin-right: 3px;
}

